<div>
  <h1>Create your room</h1>
  <%= link_to 'Create New Room', new_room_path %>
</div>


<div>
  <h2 class="text-gray-500 text-xs font-medium uppercase tracking-wide">Pinned Projects</h2>
  <ul class="mt-3 grid grid-cols-1 gap-5 sm:gap-6 sm:grid-cols-2 lg:grid-cols-4">
    <%= render @rooms %>
  </ul>
</div>

