<div id="<%= dom_id(item) %>">
  <%= link_to room_item_path(@room, item), class: 'flex font-medium hover:bg-blue-50 p-3' do %>
    <% if current_page? room_item_path(@room, item) %>
      👉 <%= item.name %>
    <% else %>
      🔹 <%= item.name %>
    <% end %>
  <% end %>
</div>
