<div id="<%=dom_id card %>" class="w-20 lg:w-24 h-28 lg:h-40 bg-blue-300 rounded-lg flex flex-col p-2 justify-between">
  <div class="text-5xl lg:text-6xl mx-auto"><%= card.point %></div>
  <div class="mx-auto"><%= card.user.name %></div>
</div>