<div class="flex flex-wrap">
  <% Card::FIB.each do |point| %>
    <%= form_with model: [@room, @item, @item.cards.new] do |form| %>
      <%= form.hidden_field :point, value: point %>
      <%= button_tag do %>
        <div class="transform hover:-translate-y-4 m-2 w-16 h-28 bg-blue-300 rounded-lg flex flex-col p-2">
          <div class="text-4xl mx-auto"><%= point %></div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
