<div class="grid grid-cols-6 lg:grid-cols-12 gap-2 lg:gap-4">
  <% Card::FIB.each do |point| %>
    <%= form_with model: [@room, @item, @item.cards.new] do |form| %>
      <%= form.hidden_field :point, value: point %>
      <%= button_tag do %>
        <div class="transform hover:-translate-y-4
                    w-12 lg:w-16 h-20 lg:h-24 bg-blue-300 rounded-lg flex flex-col p-2">
          <div class="text-3xl lg:text-4xl mx-auto"><%= point %></div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
